<!DOCTYPE html> <html lang="fr">
 <head>
 <meta charset="utf-8" />
<title> ANR </title> 

<link href="static/styles/style1.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>

<h1> A propos de l'ANR </h1>
<nav>
<ul class="menu\">
    <li class="menuitem\"> <a href="/basic_stats"> Statistiques Basiques </a> </li>
    <li class=menuitem\"> <a href="/scatterplot"> Scatterplot </a> </li>
    <li class=menuitem\"> <a href="/gender"> Répartition des genres </a> </li>
    <li class=menuitem\"> <a href="/bubbleChart"> Les termes pertinents </a> </li>
    <li class=menuitem\"> <a href="/cooccurence"> Matrice de Cooccurence </a> </li>
    <li class="menuitem\"> <a href="/graphePartner"> Graphe des partenaires </a> </li>
<br/> 
</ul> 
<br/> 
</nav> 

</body>
</html>

